<nav class="menu">
    <ul class="menu-container">
        <li><a href="/">Main</a></li>
        <li><a href="/biography">Biography</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="/activity">Activity in Twitch</a></li>
    </ul>
</nav>