<section id="activity">
    <h2 class="sectionText">{{title}}</h2>
    <p class="mainText">Van streams 3-4 days per week and 3-5 hours per stream. His first Broadcast was Feb 1, 2020 @ 11PM EST<br><br>
        Channel Description: Chatting, games, cooking, working out, ask me about my campground or anything. I live on my 15 acres of forest land in North Carolina USA.<br><br>
        Channel Mission Statement: Here at Vansamaofficial, we reach out to many cultures, learn, inspire, and find common ground. We do our darndest to end the cycle of hate through love and gachi. Love you long time, xo Van
    </p>
</section>