<section id="biography">
    <h2 class="sectionText">{{title}}</h2>
    <p class="mainText">Van Darkholme (born October 24, 1972) is an American performance artist, director, and photographer. He is of Vietnamese descent. Through the 1990s, Darkholme was a fashion and photographic model. He also acted in certain films as minor characters, such as the Hong Kong films "The Adventurers" (with Andy Lau) and "Who Am I?" (with Jackie Chan).</p>
</section>